name: full-workflow

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  version_increment:
    name: Increment version
    runs-on: self-hosted
    outputs:
      TAGS: ${{ steps.set_vars.outputs.TAGS }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Version Increment
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          scheme: semver
          increment: patch
      - name: Set tags variables based on branch
        id: set_vars
        run: |
          echo "TAGS=${{ steps.version.outputs.version }};latest;" >> "$GITHUB_OUTPUT"
        shell: bash

  build-container:
    name: Build container
    runs-on: self-hosted
    needs:
      - version_increment
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: restore
        run: dotnet restore
      - name: build
        run: dotnet build -c Release --no-restore
      - name: publish container
        run: |
          dotnet publish \
          -p PublishProfile=DefaultContainer \
          -p ContainerImageTags='"${{ needs.version_increment.outputs.TAGS }}"' \
          -p ContainerFamily=${{ vars.CONTAINER_FAMILY }} \
          -p ContainerRuntimeIdentifier=${{ vars.CONTAINER_RUNTIME_IDENTIFIER }} \
          -p ContainerRepository=${{ vars.REGISTRY_ID }}
        working-directory: src/Banana.Backtest.CryptoConverter

  push-container:
    name: Push Docker image to Docker Hub
    runs-on: self-hosted
    needs:
      - build-container
      - version_increment
    env:
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        run: echo $DOCKER_PASSWORD | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Push container
        run: docker push ${{ vars.REGISTRY_ID }} --all-tags